@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Overpass";
  background-color: #f0f0f0;
  color: #333;
}

/* Tornar a scrollbar invisível */
.sidebar::-webkit-scrollbar {
  display: none;
  /* Para navegadores baseados em WebKit */
}

.sidebar {
  -ms-overflow-style: none;
  /* Para Internet Explorer e Edge */
  scrollbar-width: none;
  /* Para Firefox */
}

/* Efeito de shimmer para o skeleton loading */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@media (max-width: 640px) {
  .flex-1 {
    margin-left: 0 !important;
  }
}
